@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

a {
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
  cursor: pointer;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.full-width {
  width: 100%;
}

.left-padding {
  padding-left: 15%;
}

/* Table segment start */

th,
td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  color: black;
}
th {
  color: var(--color-primary);
}
/* Smaller than 768px */
@media (max-width: 768px) {
  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button-width {
    width: 100%;
  }
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  tr {
    border: 5px solid rgb(99, 97, 97);
  }
}

/* Larger than 768px */
@media (min-width: 768px) {
  /* Set alternating background colors for each row */
  .alternate-background tbody tr:nth-child(odd) {
    background-color: #c3c0c0;
  }

  th {
    border: 1px solid black;
    padding: 10px;
    width: 33.33%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
}
/* Table segment end */
